[user]
  name = Takuya Mukohira
  email = takuya.mk96@gmail.com

[alias]
  st = status -sb
  df = diff
  co = checkout
  b = branch
  push-f = push --force-with-lease

[color]
  ui = true
  diff = true

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[ghq]
  root = /Users/mktakuya/src

[core]
  excludesfile = /Users/mktakuya/.gitignore_global

[pull]
  rebase = false

